/* Write your CSS here */
.home-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
}
.team-list-container {
  width: 90%;
  max-width: 600px;
}
.ipl-dashboard-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ipl-log {
  width: 25px;
  height: 40px;
}
.ipl-dashboard-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 36px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
